* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

.gantt-chart {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.gantt-bar {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 2px;
    background-color: lightyellow;
}

.gantt-time {
    margin-right: 10px;
    font-weight: bold;
}

/* Điều chỉnh khoảng cách giữa các nút và input */
.form-row > label {
    white-space: nowrap;
}

#source-code {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    right: 0;
    top: 0;
    padding: 5px 20px;
}