* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

.gantt-chart {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.gantt-bar {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 2px;
    background-color: lightyellow;
}

.gantt-time {
    margin-right: 10px;
    font-weight: bold;
}

.form-row > label {
    white-space: nowrap;
}

#source-code {
    position: relative;
    background-color: #fff;
    padding: 5px 20px;
    display: block;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}